# Server configuration
PORT=3000

# MongoDB configuration
MONGODB_USER=your-username
MONGODB_PASSWORD=your-password
MONGODB_URL=your-cluster.mongodb.net
MONGODB_DB=your-database

# JWT configuration
JWT_SECRET=your_jwt_secret_here

# SMTP configuration
SMTP_HOST=your_smtp_host_here
SMTP_PORT=your_smtp_port_here
SMTP_USER=your_smtp_user_here
SMTP_PASSWORD=your_smtp_password_here
SMTP_FROM=your_email_here

# Application domain
APP_DOMAIN=http://localhost:3000

CLOUDINARY_CLOUD_NAME=your-cloud-name-here
CLOUDINARY_API_KEY=your-api-key-here
CLOUDINARY_API_SECRET=your-api-secret-here
ENABLE_CLOUDINARY=true

#NODE_TLS_REJECT_UNAUTHORIZED=0